@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    list-style-type: none;
}

.pagination-item {
    display: inline-block;
}

.active {
    background-color: #2671c7;
    color: #ffffff;
}